params {
    help = ''
    fasta = 'fixed'
}
profiles {
    kubernetes {
        k8s {
            namespace = 'default'
            storageClaimName = 'default-nextflow-fss-storage-work-pvc'
            storageMountPath = '/work'
            launchDir = "/work/runs/${params.sample}"

            serviceAccount = 'default'
            projectDir = '/work/project'
            pod = [
                [label: 'pod-type', value: 'nextflow-worker'],
                [volumeClaim: 'default-nextflow-fss-storage-data-pvc', mountPath: '/data'],
                [imagePullPolicy: 'IfNotPresent']
            ]
        }
        docker.enabled = true
        process.executor = 'k8s'
        process.container = 'oxfordmmm/gnomonicus:latest'
    }
    docker {
        docker.enabled = true
        fixOwnership = true
        runOptions = "-u \$(id -u):\$(id -g)"
        process.cpus = 2
        process.memory = "4GB"
        process.container = "oxfordmmm/gnomonicus:latest"
    }
}