params {
    help = ''
    testing = ''
    publish_dir = ''
    genbank_reference_dir = ''
    species = 'Mycobacterium tuberculosis'
}

profiles {
    local {
        docker.fixOwnership = true
        docker.enabled = true
        docker.runOptions = "--network host"
        docker.runOptions = "-u \$(id -u):\$(id -g)"

        params.container_prefix = 'lhr.ocir.io/lrbvkel2wjot'

        process {
            debug = true
            executor = 'local'
            maxRetries = 4
        }
        env.WORKSPACE = 'offline'
    }

    kubernetes {
        params.container_prefix = 'lhr.ocir.io/lr3yhdniv6gu'
        params.genbank_reference_dir = "${params.knowledge_bucket}/genbank_references/"
        k8s {
            workDir = '/workspace'
            namespace = 'default'

            serviceAccount = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
            launchDir = '/workspace/runs'
            projectDir = '/workspace/project'
            pod = [
                [privileged: true],
                [secret: 'nextflow-api-key-secret', mountPath: '/etc/nextflow-api-key'],
                [imagePullSecret: 'ocirsecret'],
                [hostPath: '/buckets', mountPath: '/workspace/buckets'],
                [annotation: 'cluster-autoscaler.kubernetes.io/safe-to-evict', value: 'false'],
                [
                    affinity: [
                        podAffinity: [
                            requiredDuringSchedulingIgnoredDuringExecution: [
                                [
                                    labelSelector: [
                                        matchExpressions: [
                                            [key: 'mounter-ready', operator: 'In', values: ['true']]
                                        ]
                                    ],
                                    topologyKey: 'kubernetes.io/hostname',
                                ]
                            ]
                        ]
                    ]
                ],
            ]
            fetchNodeName = true
            maxErrorRetry = 4
        }
        docker.enabled = true
        process.executor = 'k8s'
    }
}
